<div class="parcks-animation-container">
	<h2>What is Parcks?</h2>
	<div class="parcks-animation-packages">
		<img id="package-1" src="{{ '/assets/img/package_small.png' | relative_url }}" alt="package"/>
		<img id="package-2" src="{{ '/assets/img/package_small.png' | relative_url }}" alt="package"/>
		<img id="package-3" src="{{ '/assets/img/package_small.png' | relative_url }}" alt="package"/>
		<img id="package-4" src="{{ '/assets/img/package_small.png' | relative_url }}" alt="package"/>
	</div>
	<div class="parcks-animation-logo">
		<img src="{{ '/assets/img/logo_cropped.jpg' | relative_url }}" alt="parcks-logo"/>
	</div>
	<div class="parcks-animation-computer">
		<img src="{{ '/assets/img/computer_small.png' | relative_url }}" alt="computer"/>
	</div>
</div>
