<div class="parcks-animation-container">
	<h2>What is Parcks?</h2>
	<div class="parcks-animation-logo">
		<img src="{{ '/assets/img/logo_cropped_bckg.png' | relative_url }}" alt="parcks-logo"/>
	</div>
	<div class="parcks-animation-packages">
		<img id="package-1" src="{{ '/assets/img/package_small.png' | relative_url }}" alt="package"/>
		<img id="package-2" src="{{ '/assets/img/package_small.png' | relative_url }}" alt="package"/>
		<img id="package-3" src="{{ '/assets/img/package_small.png' | relative_url }}" alt="package"/>
		<img id="package-4" src="{{ '/assets/img/package_small.png' | relative_url }}" alt="package"/>
	</div>	
	<div class="parcks-animation-computer">
		<img src="{{ '/assets/img/computer_small.png' | relative_url }}" alt="computer"/>
	</div>
</div>
<div class="parcks-short-explanation">
	<p>Nowadays people can easily find (free) software on the internet. However, installing it is not as easy as finding it.</p>
	<p>Therefore, we introduced <strong>Parcks</strong>. <strong>Parcks</strong> takes away the hassle of installing all the required software packages.
	Invoking one command is the only thing you need to do.</p>

	<h3>What’s in it for developers?</h3>
	<p>With <strong>Parcks</strong> it is possible to standardize the installation of the software you created.
	This makes it easier for your customers to install your software, as invoking one command is way more easy than figuring out multiple distro-specific commands.</p>

	<p>By the way, you as a developer simply need to create a <code>.parcks</code> file instead of writing the full installation guide per distro. So, it’s a win-win situation.</p>

	<a href="{{ '/assets/nextcloud_install.mp4' | relative_url }}">Demovideo of Parcks</a>
</div>
