.page-header{
	padding: 0;
	position: relative;
	width: 100%;
}

.page-header h1{
	position:relative;
}

.page-header-icon{
	position: relative;
	height: 100%;
}

.page-header a{
	position: absolute;
	display: block;
	float: left;
	height: 100%;
	z-index: 1;
}
